
.text-center{
    text-align: center;
}

.bg-red {
    background-color: rgb(62, 58, 58);
     
}

.content{
    margin: auto;
    
}

.flex{

display: flex;
}

.flex-d{
    flex-direction: column;
}

.items-center{
    align-items: center;
}